<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book Edit</title>
</head>
<body>
<!-- th:action="@{/save-book}" method="POST"-->
    <div class="container my-5 p-5" style="border: 1px solid black;">
        <h1 class="text-center">Edit Book</h1>
        <form class="col-md-4 offset-md-4"  th:object="${book}"
            hx-trigger="submit"
            hx-post="/save-book"
            hx-target="#body"
        >
            <input type="hidden" name="id" th:value="${book.id}"/>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" th:value="${book.name}">
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author" name="author" th:value="${book.author}">
            </div>
            <div class="mb-3">
                <label for="Price" class="form-label">Price</label>
                <input type="text" class="form-control" id="price" name="price" th:value="${book.price}">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    
</body>
</html>